app-tx-watcher {
    position: fixed;
    height: 170px;
    bottom: 0;
    left: 0;
    right: 0;
    border-top: 1px solid #dee2e6;
    background-color: #fbfbfb;
    overflow-y: auto;
}

#content-container {
    position: absolute;
    top: 0;
    bottom: 170px;
    left: 0;
    right: 0;
    overflow: auto;
}