#lvl {
    position: absolute;
    left: -3px;
    top: -8px;
    width: 32px;
    height: 32px;
    text-align: center;
    font-weight: bold;
    line-height: 28px;
    z-index: 100;
    cursor: default;
}

.stats {
    font-size: 13px;
    text-transform: uppercase;
}

.fa.icon {
    border: 1px solid black;
    display: inline-block;
    font-size: 32px;
    padding: 5px;
    border-radius: 5px;
}

.hero-items {
    /* 77*4 */
    width: 308px;
}

.hero-item {
    display: block;
    float: left;
    width: 67px;
    height: 67px;
    padding: 11px;
    margin: 5px;
    border-radius: 5px;
}