<img src="https://robohash.org/{{player.address}}?set=set2" alt="{{player.username}} avatar" class="m-auto d-block">
<h4 class="text-center border-top border-secondary m-0 pt-1 pb-2">{{player.username}}</h4>
<div id="lvl-container">
    <div id="lvl" class="bg-warning rounded-circle border border-secondary" title="Level">{{player.level}}</div>
    <div class="progress ml-4 border border-secondary" title="{{player.experience}} / {{player.nextLevelExperience}}">
        <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" [ngStyle]="{'width': (player.experience / player.nextLevelExperience * 100) + '%'}"></div>
    </div>
    <table width="100%" class="mt-4" style="line-height: 1.2em">
        <tr>
            <td width="50">
                <i class="fa fa-gavel icon"></i>
            </td>
            <td>
                <b>Damage</b> <br>
                <span class="text-secondary">{{player.damage | number}}</span>
            </td>
            <td class="text-right">
                <b>Health</b><br>
                <span class="text-secondary">
                            <span [ngClass]="{'text-danger' : player.health / player.maxHealth < 0.3}">{{player.health | number}}</span> / {{player.maxHealth | number}}
                </span>
            </td>
            <td width="50" class="text-right">
                <i class="fa fa-heart icon"></i>
            </td>

        </tr>

    </table>
</div>