<table class="table table-sm">
    <thead>
        <tr>
            <th scope="col" style="width: 100px">Status</th>
            <th scope="col">Action</th>
            <th scope="col">Timestamp</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let tx of wallet.getTransactions()">
            <td>
                <span *ngIf="tx.status=='pending'" class="badge badge-secondary">pending</span>
                <span *ngIf="tx.status=='confirmed'" class="badge badge-success">confirmed</span>
                <span *ngIf="tx.status=='error'" class="badge badge-danger">error</span>
            </td>
            <td>{{tx.label}}</td>
            <td>{{tx.timeCreated | date:'yyyy-MM-dd HH:mm:ss'}}</td>
        </tr>

    </tbody>
</table>