<div class="container text-center ">

    <h1 class="h3 text-center mb-1 mt-3">Crypto Battles</h1>
    <h2 class="h5 text-secondary">One of the world's first blockchain games</h2>

    <p class="mt-4 mb-0">
        The action takes place in a world where the battlefield is the sole reality.
        <br>Only there you can find out who is the strongest.
        <br>Be a true hero, show what you are made of.
    </p>
    <button mat-raised-button color="accent" class="font-size-12 px-5 py-2 my-4" [routerLink]="['login']">Enter The Battle!</button>
    <h5 class="text-center text-uppercase mb-1">Top 10 Heroes</h5>
    <app-top10></app-top10>
</div>